@font-face {
  font-family: 'Montserrat';
  src: url(../fonts/Montserrat-Regular.otf);
}

.brand{
	font-family: 'Montserrat', 'Helvetica', Tahoma, "Trebuchet MS", Arial, sans-serif;
}

.border-down{
	border-bottom: 1px solid #ddd;
}

.border-left{
	border-left: 1px solid #ddd;
}

.border-right{
	border-right: 1px solid #ddd;
}

.border-top{
	border-top: 1px solid #ddd;
}

.top-margin{
    margin-top: 10px;
}
body{
	padding-top: 70px;
}
.navbar {
  margin-bottom: 20px;
}

.long-list{
	max-height: 400px;
	overflow-y: scroll;
}

.jumbotron{
	
}